<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.raspinloop.fmi.launcher.FmiLauncher"
            id="org.raspinloop.fmi.launchConfigurationType1"
            modes="run, debug"
            name="ril-fmi"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    	<launchConfigurationTypeImage
        icon="icon/ril-16.gif"
        configTypeID="org.raspinloop.fmi.launchConfigurationType1"
        id="org.raspinloop.fmi.launchConfigurationTypeImage">
    	</launchConfigurationTypeImage>
	</extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.raspinloop.fmi.configuration.LauncgConfigTabGroup"
            id="org.raspinloop.fmi.launchConfigurationTabGroup1"
            type="org.raspinloop.fmi.launchConfigurationType1">
      </launchConfigurationTabGroup>
   </extension>
   
</plugin>
