
.title {
  text-align: center;
  flex: 1 0 0;
  min-height: 5vh;
//  background-color: #37484d;
  background-color: #232e31;
  color: #d45500;
}
app-editor {
   ;
   flex: 0 0 0;


}

app-menu {
  flex: 0 0 0;
}


app-status {

}
