<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.raspinloop.fmi.Hardware" name="RIL Hardware Configuration" schema="schema/org.raspinloop.fmi.Hardware.exsd"/>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.raspinloop.fmi.plugin.launcher.FmiLauncher"
            id="org.raspinloop.fmi.plugin.launchConfigurationType1"
            modes="run, debug"
            name="RIL-Simulate"
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    	<launchConfigurationTypeImage
        icon="icons/ril-16.png"
        configTypeID="org.raspinloop.fmi.plugin.launchConfigurationType1"
        id="org.raspinloop.fmi.plugin.launchConfigurationTypeImage">
    	</launchConfigurationTypeImage>
	</extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.raspinloop.fmi.plugin.launcher.LaunchConfigTabGroup"
            id="org.raspinloop.fmi.plugin.launchConfigurationTabGroup1"
            type="org.raspinloop.fmi.plugin.launchConfigurationType1">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.raspinloop.fmi.plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.raspinloop.fmi.plugin.preferences.RilManageHardwarePage"
            id="org.raspinloop.fmi.plugin.launcher.RilManageHardwarePage"
            name="Ril Manage Hardware">
      </page>
   </extension>   
</plugin>
