#graphContainer {
   background:url('../../assets/img/grid.png');
   overflow-y: scroll;
   min-height: 85vh;
   //background-color: #232e31; // sans grille
   background-color: #4b6369; //grille claire
   background-color: #37484d; // grille moins claire
   background-color: #222 ;
 }
